@charset "utf-8";
/* CSS Document */

body {
  background-color: #fff; cursor: default; background-image: url("https://raw.githubusercontent.com/dmbd2019/gtxiii/master/bgLoopGray.png?token=ANA74DGFEGW4B6TQMDT4WZK5U6WZ2");
  background-repeat:repeat;
  background-size:tile;
}
