body {
  background-color: #fff; cursor: default; background-image: url("https://github.com/dmbd2019/gtxiii/blob/master/bgLoopGray.png?raw=true");
  background-repeat:repeat;
  background-size:tile;
}

h1 {
  font-family: aller; font-style: bold; font-size: 25pt;
}

p {
  font-family: aller; font-style: normal; font-size: 10pt;
}

p2 {
  font-family: aller; font-style: normal; font-size: 15pt;
}

svg{
  font: bold 10px 'Aller';
  width: 10%;
  height: 10px;
}

div {
  margin-top: 200px;
  margin-bottom: 200px;
  margin-right: 300px;
  margin-left: 160px;
  background-color: white;
}
